/* 共通CSS */
@font-face {
	font-family: 'MyFont';
	src: url(MGS4Brush.ttf);
}

body {
  /*
  font-family: 'Noto Serif JP', serif;
  */
  font-family: 'Noto Sans JP', sans-serif;
  background-color: rgb(241, 238, 216)
}

.footer > ul {
  list-style: none;
}

.footer > ul > li {
  display:  inline-block;
}

.heading {
  font-weight: bold;
}

/* PC版CSS */
@media screen and ( min-width:480px ) {

  body {
    font-size: 18px;
  }

  div.main {
    margin: 0 20%;
  }

  h1 {
    /*font-family: 'Permanent Marker', cursive;*/
    font-family: MyFont;
    font-size: 200px;
    text-align: center;
    margin: 0px 0px;
    padding-bottom: 0px;
  }

  p {
    margin-left: 6%;
    margin-right: 6%;
  }

  .heading {
    padding-top: 80px;
    padding-bottom: 15px;
  }

  .picture {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .picture > figure {
    display: inline-block;
    width: 49%;
    margin: 0;
  }

  .person {
    vertical-align: top;
  }

  .ukiyoe {
    vertical-align: top;
  }

  #person {
    width: 70%;
    margin: 0 20% 0 10%;
  }

  #ukiyoe {
    width: 70%;
    margin: 0 10% 0 20%;
  }

  .person > h2 {
    margin: 0;
  }

  .person > p {
    margin: 18px 0px 30px 0px;
  }

  .ukiyoe > p {
    margin: 30px 0px 0px 0px;
  }

  div.engine_pic {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0px;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    margin-top: 10px;
  }

  div.engine_visee {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0px;
    width: 100%;
    height: auto;
  }

  #pic {
    width: 13%;
    height: auto;
    float: left;
    padding-left: 3%;
  }

  #visee {
    width: 13%;
    height: auto;
    float: left;
    padding-left: 3%;
    padding-bottom: 80px;
  }

  .explanation_engine {
    margin: 0 20px;
    padding-left: 16%;
  }

  #hokudai-logo {
    width: 100px;
    height: auto;
  }

  #c-logo {
    width: 125px;
    height: auto;
  }

  .mjmj {
    padding-bottom: 80px;
  }

  .mjmj > figure {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 40%;
  }

  .mjmj > figure > a > img {
    width: 100%;
    height: auto;
  }

  .footer {
    padding-bottom: 0;
    text-align: center;
  }

  .footer > ul {
    display: inline-block;
    vertical-align: top;
    width: auto;
    padding: 0;
    margin: 0;
    padding-right: 10%
  }

  .footer > ul > li {
    display: block;
  }

  .footer > ul > li > a {
    vertical-align: top;
    font-size: 18px;
  }

  .logos {
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin: 0;
    padding-right: 10%;
  }

  .logos > figure {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }

  #tel-icon {
    width: 30px;
    height: auto;
    padding-right: 5px;
    margin-bottom: 5px;
  }

  #f-icon {
    width: 30px;
    height: auto;
    padding-right: 5px;
  }

  li.tel > a {
    color: #898f9c;
    text-decoration: none;
  }

  li.fb > a {
    color: #898f9c;
    text-decoration: none;
  }

  .copyright {
    display: inline-block;
    vertical-align: bottom;
    font-size: 12px
  }

  .mobile-icon {
    display: none;
  }

  .mb {
    display: none;
  }

}

/* モバイル版CSS */
@media screen and ( max-width:479px ) {

  body {
    font-size: 12px;
  }

  h1 {
    margin-top: 0px;
    margin-bottom: 0;
    /*font-family: 'Permanent Marker', cursive;*/
    font-family: MyFont;
    font-size: 100px;
    text-align: center;
  }

  p {
    margin-right: 20px;
    margin-left: 20px;
  }

  .heading {
    padding-top: 80px;
  }

  figure.person {
    width: 100%;
    margin: 0;
  }

  figure.ukiyoe {
    width: 100%;
    margin: 0;
  }

  #person {
    width: 100%;
    height: auto;
  }

  #ukiyoe {
    width: 100%;
    height: auto;
  }

  div.engine_pic {
    display: inline-block;
    vertical-align:top;
    margin-left: 3%;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
  }

  div.engine_visee {
    display: inline-block;
    vertical-align:top;
    margin-left: 3%;
    width: 100%;
    height: auto;
  }

  #pic {
    width: 30%;
    height: auto;
    float: left;
  }

  #visee {
    width: 30%;
    height: auto;
    float: left;
  }

  .explanation_engine {
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 28%;
  }

  .mjmj > a.PC {
    display: none;
  }

  .mjmj > a {
    padding-left: 6%;
  }

  .mjmj > figure {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .mjmj > figure > a > img {
    width: 100%;
    height: auto;
  }

  .logos {
    text-align: center;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .logos > figure {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    width: 45%;
  }

  #hokudai-logo {
    width: 100%;
    height: auto;
  }

  #c-logo {
    width: 100%;
    height: auto;
  }

  .footer {
    padding-bottom: 0px;
  }

  .footer > ul {
    display: none;
  }

  .mobile-icon {
    width: 100%;
    padding: 0;
  }

  .mobile-icon > a.mobile-tel {
    width: 12%;
    margin: 0;
    padding-left:24%;
    padding-right:13%;
  }

  .mobile-icon > a.mobile-fb {
    width: 12%;
    margin: 0;
    padding-left:13%;
    padding-right:23%;
  }

  #mobile-tel-icon {
    width: 12%;
    height: auto;
  }

  #mobile-f-icon  {
    width: 12%;
    height: auto;
  }

  .copyright {
    font-size: 8px;
    text-align: center;
  }

  .pc {
    display: none;
  }

}
