/* 共通CSS */
@font-face {
	font-family: 'MyFont';
	src: url(MGS4Brush.ttf);
}

body {
  /*
  font-family: 'Noto Serif JP', serif;
	font-family: 'Noto Sans JP', sans-serif;
  */
	font-family: Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
  background-color: rgb(241, 238, 216);
	font-weight: 400;
}

.footer > ul {
  list-style: none;
}

.footer > ul > li {
  display:  inline-block;
}

.heading {
  font-weight: bold;
}

/* PC版CSS */
@media screen and ( min-width:480px ) {

  body {
    font-size: 18px;
  }

  div.main {
    margin: 0 20%;
  }

  h1 {
    /*font-family: 'Permanent Marker', cursive;*/
    font-family: MyFont;
    font-size: 200px;
    text-align: center;
    margin: 0px 0px;
    padding-bottom: 0px;
  }

	h2 {
		text-align: center;
		font-family: Arial, sans-serif;
		font-weight: 500;
		font-size: 32px;
		-webkit-font-smoothing: antialiased;
	}

  p {
    margin-left: 6%;
    margin-right: 6%;
  }

  .heading {
    padding-top: 80px;
    padding-bottom: 15px;
  }

  .picture {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .picture > figure {
    display: inline-block;
    width: 49%;
    margin: 0;
  }

  .person {
    vertical-align: top;
  }

  .ukiyoe {
    vertical-align: top;
  }

  #person {
    width: 70%;
    margin: 0 20% 0 10%;
  }

  #ukiyoe {
    width: 70%;
    margin: 0 10% 0 20%;
  }

  .person > h2 {
    margin: 0;
  }

  .person > p {
    margin: 18px 0px 30px 0px;
  }

  .ukiyoe > p {
    margin: 30px 0px 0px 0px;
  }

  figure.engine_pic {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0px;
    width: 94%;
    height: auto;
		padding: 3%;
    padding-bottom: 30px;
    margin-top: 10px;
  }

  figure.engine_visee {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0px;
    width: 94%;
    height: auto;
		padding: 3%;
		padding-bottom: 80px;
  }

  #pic {
		display: inline-block;
		opacity: 0.5;
    width: 20%;
    height: auto;
    float: left;
  }

  .explanation_pic {
		display: inline-block;
		width: 56%;
		padding-right: 20%;
    margin: 0 2%;
  }

	.explanation_pic > h2 {
		margin-top: 0;
	}

	#visee {
		display: inline-block;
		opacity: 0.5;
		width: 20%;
		height: auto;
		float: right;
	}

	.explanation_visee {
		display: inline-block;
		width: 56%;
		padding-left: 20%;
		margin: 0 2%;
	}

	.explanation_visee > h2 {
		margin-top: 0;
	}

  #hokudai-logo {
    width: 100px;
    height: auto;
  }

  #c-logo {
    width: 125px;
    height: auto;
  }

  .mjmj {
    padding-bottom: 80px;
  }

  .mjmj > figure#left {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 40%;
		margin-left: 5%;
		margin-right: 5%;
  }

	.mjmj > figure#right {
		text-align: center;
		display: inline-block;
		vertical-align: top;
		width: 40%;
		margin-left: 5%;
		margin-right: 4%;
	}

  .mjmj > figure > a > img {
    width: 100%;
    height: auto;
  }

	.mjmj-pic > a {
		color: #898f9c;
    text-decoration: none;
	}

  .footer {
    padding-bottom: 0;
		height: 84.641px;
    text-align: center;
  }

  .footer > ul {
    display: inline-block;
    vertical-align: top;
		float: left;
    width: auto;
    padding: 0;
    margin: 0;
		padding-left: 20%;
  }

  .footer > ul > li {
    display: block;
		margin-bottom: 10px;
  }

  .footer > ul > li > a {
    vertical-align: middle;
    font-size: 18px;
  }

  .logos {
    display: inline-block;
    vertical-align: top;
		text-align: center;
    width: auto;
    margin: 0;
  }

  .logos > figure {
    display: inline-block;
    vertical-align: bottom;
    margin: 0;
  }

	.hokudai-logo > img {
		vertical-align: bottom;
	}

  #tel-icon {
		vertical-align: middle;
    width: 30px;
    height: auto;
    padding-right: 5px;
  }

  #f-icon {
		vertical-align: middle;
    width: 30px;
    height: auto;
    padding-right: 5px;
  }

  li.tel {
	  padding-top: 5px;
	}

  li.tel > a {
		top: 5px;
		bottom: 0;
    color: #898f9c;
    text-decoration: none;
  }

  li.fb > a {
		top: 5px;
		bottom: 0;
    color: #898f9c;
    text-decoration: none;
  }

  .copyright {
    display: inline-block;
    vertical-align: bottom;
		float: right;
		padding-right: 20%;
    padding-top: 42px;
		margin: 12px 0;
    font-size: 12px
  }

  .mobile-icon {
    display: none;
  }

  .mb {
    display: none;
  }

}

/* モバイル版CSS */
@media screen and ( max-width:479px ) {

  body {
    font-size: 12px;
  }

  h1 {
    margin-top: 0px;
    margin-bottom: 0;
    /*font-family: 'Permanent Marker', cursive;*/
    font-family: MyFont;
    font-size: 100px;
    text-align: center;
  }

  p {
    margin-right: 20px;
    margin-left: 20px;
  }

  .heading {
    padding-top: 80px;
  }

  figure.person {
    width: 100%;
    margin: 0;
  }

  figure.ukiyoe {
    width: 100%;
    margin: 0;
  }

  #person {
    width: 100%;
    height: auto;
  }

  #ukiyoe {
    width: 100%;
    height: auto;
  }

  div.engine_pic {
    display: inline-block;
    vertical-align:top;
    margin-left: 3%;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
  }

  div.engine_visee {
    display: inline-block;
    vertical-align:top;
    margin-left: 3%;
    width: 100%;
    height: auto;
  }

  #pic {
    width: 30%;
    height: auto;
    float: left;
  }

  #visee {
    width: 30%;
    height: auto;
    float: left;
  }

  .explanation_engine {
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 28%;
  }

  .mjmj > a.PC {
    display: none;
  }

  .mjmj > a {
    padding-left: 6%;
  }

  .mjmj > figure {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .mjmj > figure > a > img {
    width: 100%;
    height: auto;
  }

	.mjmj-pic > a {
		color: #898f9c;
		text-decoration: none;
	}

  .logos {
    text-align: center;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .logos > figure {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    width: 45%;
  }

  #hokudai-logo {
    width: 100%;
    height: auto;
  }

  #c-logo {
    width: 100%;
    height: auto;
  }

  .footer {
    padding-bottom: 0px;
  }

  .footer > ul {
    display: none;
  }

  .mobile-icon {
    width: 100%;
    padding: 0;
  }

  .mobile-icon > a.mobile-tel {
    width: 12%;
    margin: 0;
    padding-left:24%;
    padding-right:13%;
  }

  .mobile-icon > a.mobile-fb {
    width: 12%;
    margin: 0;
    padding-left:13%;
    padding-right:23%;
  }

  #mobile-tel-icon {
    width: 12%;
    height: auto;
  }

  #mobile-f-icon  {
    width: 12%;
    height: auto;
  }

  .copyright {
    font-size: 8px;
    text-align: center;
  }

  .pc {
    display: none;
  }

}
